.nav .footer{
    background-color: rgb(222, 222, 222);
    text-align: left;
}
.App{
background-color: #AFBFB4;
text-align: center;
text-decoration-style: none;
color: ivory;

}
singList{
    list-style-type: none;

}

body:link{
text-decoration: none;
}
body{
    background-color: #AFBFB4;
    color: ivory;
    text-decoration-style: none;

}
